@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

*, *:after, *:before {
  margin: 0;
  padding: 0;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

svg {
  path {
    transition: .1s;
  }

  &:hover path {
    d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
  }
}

body {
  background: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00BCD4;
}

/* Header */
header {
    background-color: #2292be;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
}

header h1 {
    margin: 0px 30px;
    color: #000000;
}

h3 {
    font-weight: 400;
  }
  
 
/* Navitaion */
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: 0px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    right: 15px; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #home {
    top: 80px;
    background-color: #4CAF50;
  }
  
  #share {
    top: 140px;
    background-color: #2196F3; /* Blue */
  }

/* Main */
main {
    background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 10vh 0 80vh;
    position: relative;
    text-align: center;
    overflow: hidden;
  
    &::after {
      border-right: 2px dashed #eee;
      content: '';
      position: absolute;
      top: calc(10vh + 1.618em);
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 100%;
    }
  }

/* Homepage (index) */
.blog-list li {
    border-bottom: 1px solid #a8e0ff;
    color: #000000;
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

/* Post */
.post-title {
    text-align: center;
}

.post-author {
    font-style: italic;
    text-align: right;
    font-size: 16px;
}

/* Post Submission */
.post-submissions-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.post-submissions-form input[type=text], 
.post-submissions-form input[type=date],
.post-submissions-form textarea {
    border: 1px solid #8ee3f5;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
}

.post-submissions-form textarea {
    max-width: 900px;
    min-height: 200px;
}

.post-submissions-form button {
    height: 40px;
    width: 150px;
    background-color: #1cd368;
    color: #000000;
    border: none;
    box-shadow: none;
    font-size: 16px;
}

.pic1{
    width: 50%;
    border: 2px solid #ffffff;
    }
    
/* Footer */
footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
  }
  
  small {
    opacity: .5;
    font-weight: 300;
  
    a {
      color: inherit;
    }
  }
